.left-slide-animation {
	animation: left-slide-animation 1s 1s cubic-bezier(0.01, 0.85, 0.38, 1.03) forwards;
}
@keyframes left-slide-animation {
	from {
		transform: translateX(-150%);
	}
	to {
		transform: translateX(0%);
	}
}

.right-slide-animation {
	animation: right-slide-animation 1s 1s cubic-bezier(0.01, 0.85, 0.38, 1.03) forwards;
}
@keyframes right-slide-animation {
	from {
		transform: translateX(150%);
	}
	to {
		transform: translateX(0%);
	}
}

@keyframes job-ad-shadow-animation {
	from {
		box-shadow: inset 0 0 2px 0px rgba(0, 0, 0, 0.15);
	}
	25% {
		box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, 0.15);
	}
	50% {
		box-shadow: inset 0 0 5px 1px rgba(0, 0, 0, 0.15);
	}

	to {
		box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, 0.15);
	}
}
